    <div class="d-flex" id="wrapper">
        <!-- SIDEBAR -->
        <div class="border-end p-3" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action p-3" href="#!">All Products</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Cookies</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Pies</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Cakes</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Cheesecakes</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Pastry</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Bread</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Gluten-Free</a>
                <a class="list-group-item list-group-item-action p-3" href="#!">Vegan</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            
        </div>
    </div>