<form class="user-form signup-form">
  <h1 class="page-title">Signup</h1>
  <div class="form-group">
    <label for="first-name-signup">First Name:</label>
    <input class="form-input" type="text" placeholder="First Name" id="first-name-signup" />
  </div>
  <div class="form-group">
    <label for="last-name-signup">Last Name:</label>
    <input class="form-input" type="text" name="last-name-signup" placeholder="Last Name" id="last-name-signup" />
  </div>
  <div class="form-group">
    <label for="email-signup">Email:</label>
    <input class="form-input" type="text" name="email-signup" placeholder="Email" id="email-signup" />
  </div>
  <div class="form-group">
    <label for="phone-signup">Phone Number:</label>
    <input class="form-input" type="text" name="phone-signup" placeholder="Phone Number" id="phone-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" name="password-signup" placeholder="Password" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Signup</button>
  </div>
</form>