<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset"UTF-8">
    <title>Sweet Solution Bakery</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>Sweet Solution Bakery</header>
<main>
    {{{body}}}
</main>
<footer>
    Created by: Project 2 Team 3
</footer>
</body>
</html>