<!-- Page content wrapper-->
<h2>
  <button type="button" class="btn btn-lg py-1 px-2 active" aria-current="page" onclick="history.back()">> Back to
    Categories</button>
</h2>
<div id="page-content-wrapper">
  <!-- Page content-->
  <div class="container-fluid p-3">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {{#each categories as |category|}}
      <div class="col">
        <div class="card shadow-sm">
          <img class="product-img" width="auto" height="auto" src="/images/{{category.filename}}" role="img"
            preserveAspectRatio="xMidYMid slice" focusable="false">
          </img>
          <div class="card-body">
            <h3 class="product-card-text">{{category.category_name}}</h3>
            <a type="button" class="btn btn-lg my-2" href="/product/category/{{category.id}}">See Products</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

</div>
</div>

</body>

</html>