<img id='main-logo' src="/images/logo_500x300.png"> 
        <p class="lead">There's nothing that a chocolate chip cookie can't fix.</p>
        <p class="lead">
          <a href="/category" class="btn btn-lg btn-light fw-bold border-white" >Find your sweet solution!</a>
        </p>
        <br>
        <br>
        <hr class="featurette-divider">
        <br>
        <br>
        <!-- FEATURED PRODUCTS -->
        <div class="row">
          <div class="col-lg-4">
            <img src="/images/mixer-graphic.png" height="140" width="140">
            <h2 id="homepage-header" class="fw-normal">Made To Order</h2>
            <p>We bake your orders as they come in using the freshest ingredients - no pre-made mixes or batters.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/images/cake-stand-graphic.png" height="140" width="140">
            <h2 id="homepage-header" class="fw-normal">Classic Comforts</h2>
            <p>We pride ourselves on baking the classics just like grandma used to, with a few secret ingredients of our own.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="/images/scale-graphic.png" height="140" width="140">
            <h2 id="homepage-header" class="fw-normal">Special Occasion Bakes</h2>
            <p>We aren't afraid to think outside of the box for your special occasion; you have a vision, we have a sweet solution.</p>
          </div><!-- /.col-lg-4 -->
        </div>