<div class="form-row justify-space-between-md">
  <div>
    {{>signUp}}
  </div>
  <div>
    <form class="login-form">
      <h1 class="page-title">Login</h1>
      <div>
        <label for="login">Email:</label>
        <input type="text" name="login" placeholder="Email" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" name="password" placeholder="Password" />
      </div>
      <div>
        <button class="btn" type="submit">Login</button>
      </div>
    </form>

  </div>
</div>