:root {
  --green: #90beab; 
  --light-background: #f8f8f3; 
  --light-blue: #c7ebf8; 
  --dark-brown: #72695a; 
  --grey: #abaaaa; 
}

body {
  background-color: var(--light-background);
  color: var(--dark-brown); 
}

h3 {
  color: var(--dark-brown); 
  font-family: 'Amatic SC', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background-color: var(--green);
  font-family: 'Amatic SC', cursive;
}


.nav-link {
  color: var(--dark-brown); 
}

.list-group-item {
  background-color: var(--light-blue);
  color: var(--dark-brown); 
  /* font-family: 'Amatic', cursive; */
}

.nav-link {
  font-family: 'Amatic SC', cursive;
  font-size: large;
}

#sidebar-wrapper {
  background-color: var(--light-blue);
  color: var(--grey);
  border-radius: 10px;
}

#main-logo {
  width: 500;
  align-self: center;
}

#homepage-header {
  font-family: 'Over the Rainbow', cursive;
}