:root {
  --green: #90beab; 
  --light-background: #f8f8f3; 
  --light-blue: #c7ebf8; 
  --dark-brown: #72695a; 
  --grey: #abaaaa; 
}

body {
  background-color: var(--light-background);
  color: var(--dark-brown); 
}

.btn {
  background-color: var(--green);
}

h3 {
  color: var(--dark-brown); 

}

.nav-link {
  color: var(--dark-brown); 
}

#aside {
  background-color: var(--light-blue);
  color: var(--grey);
  border-radius: 10px;
}