:root {
  --green: #90beab; 
  --light-background: #f8f8f3; 
  --light-blue: #c7ebf8; 
  --dark-brown: #72695a; 
  --grey: #abaaaa; 
  --form-background: rgba(233, 233, 229);
  --btn-color-gradiant-light: rgba(144, 190, 171, 0.5);
  --btn-color-gradiant-dark: rgba(109, 144, 129, 0.7); 
  --placeholder-color: rgba(74, 47, 13, 0.52);
}

body {
  background-color: var(--light-background);
  color: var(--dark-brown); 
}

h3 {
  color: var(--dark-brown); 
  font-family: 'Amatic SC', cursive;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background-color: var(--green);
}


.nav-link {
  color: var(--dark-brown); 
}

.list-group-item {
  background-color: var(--light-blue);
  color: var(--dark-brown); 
  /* font-family: 'Amatic', cursive; */
}

.nav-link {
  font-family: 'Amatic SC', cursive;
  font-size: 175%;
}

/* LOGIN FORM CSS */

.form-row {
  background-color: var(--form-background);
  border: 1px solid var(--dark-brown);
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10em;
  margin-right: 12em;
  margin-left: 12em;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 300px;
  margin: 60px auto 30px;
  padding: 10px;
  position: relative;
}

.login-form h1{
  font-family: 'Amatic SC', cursive;
  font-size: 300%;
  padding-bottom: 20px;
}

.login-form input[type=text],
.login-form input[type=password] {
  font-size: 125%;
  font-weight: 700;
  width: 100%;
  padding: 8px 4px 8px 10px;
  border: 1px solid rgba(78,48,67, 0.8);
  background: rgba(0,0,0,0.15);
  border-radius: 2px;
  box-shadow: 
        0 1px 0 rgba(255, 255, 255, 0.598), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.login-form input::-webkit-input-placeholder {
  color: var(--placeholder-color);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.407);
}

.login-form input:-moz-placeholder {
  color: var(--placeholder-color);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.407);
}

.login-form input:-ms-input-placeholder {
  color: var(--placeholder-color);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.407);
}

.login-form input[type=text]:hover,
.login-form input[type=password]:hover {
  border-color: rgba(78,48,67, 0.8);
}

.login-form input[type=text]:focus,
.login-form input[type=password]:focus,
.login-form input[type=submit]:focus {
    box-shadow: 
      0 1px 0 rgba(69, 35, 7, 0.5), 
      inset 0 1px 1px rgba(0, 0, 0, 0.5),
      0 0 0 3px rgba(145, 135, 132, 0.5);
    outline: none;
}

.login-form button[type=submit] {
  font-family: 'Amatic SC', cursive;
  width: 100%;
  padding: 8px 5px;
  background: linear-gradient(var(--btn-color-gradiant-light), var(--btn-color-gradiant-dark));
  border-radius: 5px;
  border: 1px solid rgba(78,48,67, 0.8);
  box-shadow: 
    	inset 0 1px rgba(255,255,255,0.4), 
    	0 2px 1px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.3s ease-out;
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  font-size: 30px;
  font-weight: bold;
}

.login-form button[type=submit]:hover {
  box-shadow: 
      inset 0 1px rgba(255, 255, 255, 0.389), 
      inset 0 20px 30px rgba(20, 143, 119, 0.5);
}

.login-form label {
  display: none;
  padding: 0 0 5px 2px;
  cursor: pointer;
}

.login-form label:hover ~ input {
  border-color: #333;
}

.no-placeholder .login-form label {
  display: block;
}

#sidebar-wrapper {
  background-color: var(--light-blue);
  color: var(--grey);
  border-radius: 10px;
}

#main-logo {
  width: 500;
  align-self: center;
}

#homepage-header {
  font-family: 'Over the Rainbow', cursive;
}

/* MEDIA QUERIES FOR LOGIN FORM */

@media screen and (min-width: 320px) and (max-width: 768px){
  .form-row{
    background-color: var(--form-background);
    border: 1px solid var(--dark-brown);
    border-radius: 2px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: auto; 
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .form-row{
    background-color: var(--form-background);
    border: 1px solid var(--dark-brown);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto; 
  }
}